.footer{
    margin-top: 30px;
    padding: 100px 15%;
    background: #333;
    color: #efefef;
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
}

.footer2{
  
    padding: 2px;
    background: #333;
  text-align: center;
}
.footer div{
    text-align: center;
    
}
#last-line{
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 10px;
}

.col-2{
    flex-grow: 2;
}

.footer div h3{
    font-weight: 300px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-1 a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

form button{
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
.pop{
    border-color: #d5d5d5;
    color: #ffffff; 
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 3px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.945);
}
.social-icons{
    margin-top: 30px;
}
.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}


@media(max-width:600px) {
   

     
      
      /* Styles for the copyright text */
     
    .footer{
        margin-top: 50px;
        padding: 100px 15px;
        background: #333;
        color: #efefef;
        display: flex;
    }
    .footer div{
        max-width: 100%;
        
    }
    .col-2{
        flex-grow: 1;
    }
    
    .footer div h3{
        font-weight: 15px;
        margin-bottom: 10px;
        letter-spacing: 3px;
    }
    .col-1 a{
        display: block;
        text-decoration: none;
        color: rgb(255, 255, 255);
        margin-bottom: 5px;
    }
 
    form button{
        background: transparent;
        border: 2px solid white;
        color: white;
        border-radius: 25px;
        padding: 10px 30px;
        font-size: 15px;
        cursor: pointer;
    }
    .social-icons{
        margin-top: 30px;
    }
    .social-icons i{
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }

    
}